@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  * {
    direction: rtl;
    box-sizing: border-box;
  }
  body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #F8FAFC;
    color: #1E293B;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .ltr { direction: ltr; }
  .scrollbar-hide::-webkit-scrollbar { display: none; }
  .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
}
